<%= form_with(model: customer) do |form| %>
  <% if customer.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label t(:name), style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label t(:last_name), style: "display: block", class: "form-label" %>
    <%= form.text_field :last_name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label t(:address), style: "display: block", class: "form-label" %>
    <%= form.text_area :address, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label t(:mail), style: "display: block", class: "form-label" %>
    <%= form.email_field :mail, class: "form-control", placeholder: t(:mail_example) %>
  </div>

  <div class="mb-3">
    <%= form.label t(:phone), style: "display: block", class: "form-label" %>
    <%= form.text_field :phone, class: "form-control" %>
  </div>

  <div>
    <%= form.submit @action_name, class: "btn btn-primary" %>
  </div>
<% end %>
