<%= form_with(model: pizza_part) do |form| %>
  <% if pizza_part.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pizza_part.errors.count, "error") %> prohibited this pizza_part from being saved:</h2>

      <ul>
        <% pizza_part.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label t(:name), style: "display: block", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label t(:description), style: "display: block", class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label t(:price), style: "display: block", class: "form-label" %>
    <%= form.text_field :price, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label t(:category), style: "display: block", class: "form-label" %>
    <%= form.select(:category, options_for_select(@categories_array, pizza_part.category), {}, class: "form-select") %>
  </div>

  <div>
    <%= form.submit @action_name, class: "btn btn-primary" %>
  </div>
<% end %>
