<div id="<%= dom_id pizza_part %>">
  <p>
    <strong>Name:</strong>
    <%= pizza_part.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= pizza_part.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= pizza_part.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= pizza_part.category_name %>
  </p>

</div>
