<div class="px-5 pt-3 pb-4 bg-dark rounded shadow">

  <p style="color: green"><%= notice %></p>

  <%= render @pizza_part %>

  <div>
    <%= link_to "Edit this pizza part", edit_pizza_part_path(@pizza_part), class: "btn btn-success" %> |
    <%= link_to "Back to pizza parts", pizza_parts_path, class: "btn btn-light" %>

    <%= button_to "Destroy this pizza part", @pizza_part, method: :delete, class: "btn btn-danger mt-2" %>
  </div>
</div>